	<div class="block-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<h4>Quick Links</h4>
					<ul class="list-unstyled">
						<li><a href="/" ui-sref="home" ui-sref-active="active"><i class="fa fa-angle-double-right"></i> Home</a></li>
						<li><a href="products.php" ui-sref="products" ui-sref-active="active"><i class="fa fa-angle-double-right"></i> Products</a></li>
						<li><a href="qanda.php" ui-sref="faqs" ui-sref-active="active"><i class="fa fa-angle-double-right"></i> FAQs</a></li>
						<!-- <li><a href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i> Features <span class="badge badge-primary">New</span></a></li> -->
						
					</ul>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<h4>Quick Links</h4>
					<ul class="list-unstyled">
						<!-- <li><a href=""><i class="fa fa-angle-double-right"></i> Blog</a></li>
						 -->
						 <li><a href="about.php" ui-sref="contact" ui-sref-active="active"><i class="fa fa-angle-double-right"></i> About Us</a></li>
<li><a href="contact.php"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
					</ul>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				
					<h4>About Us</h4>
					<div class="well">
						<p>We are going to be a part of the revolution and country's biggest tax reform (GST) since independence. We wants to help our unorganized sector to get up to get organized and compete with world class MNCs.</p>
					</div>
					
					<h4>Contact Us</h4>
					<ul class="list-inline">
						<li><i class="fa fa-phone"></i> (+91) 9271-920-690</li>
						<li><i class="fa fa-envelope"></i> enquiry@brightsolution.co.in</li>
					</ul>
					
				</div>
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 social">
					<h4>Follow Us</h4>
					<ul class="list-inline">
						<li><a target="_blank" href="https://www.facebook.com/brightsolution.in" class="btn btn-circle btn-facebook btn-xs"><i class="fa fa-facebook icon-only"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/bri8solutions" class="btn btn-circle btn-twitter btn-xs"><i class="fa fa-twitter icon-only"></i></a></li>
						<li><a target="_blank" href="https://www.linkedin.com/in/bright-solution-251543143/" class="btn btn-circle btn-linkedin btn-xs"><i class="fa fa-linkedin icon-only"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="row copyright">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<p>2017 © Bright Solutions, All rights reserved.</p>
				</div>
				<!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<ul class="list-inline">
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Refund Policy</a></li>
						<li><a href="#">License</a></li>
					</ul>						
				</div> -->
			</div>
		</div>
	</div>
		
	<a id="back-to-top" class="btn btn-primary btn-sm back-to-top" role="button"><i class="fa fa-angle-double-up icon-only bigger-110"></i></a>
</div>