<nav class="navbar top-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" ui-sref="home">

                <img src="assets/images/logo.png" alt="logo" class="img-responsive" style="float:left;margin-right:5px">
                <img src="assets/images/logo_name.png" alt="bright solutions" class="img-responsive" style="padding:2px 0 0 0">              
               	          
                <meta name="google-site-verification"  content="g14srv2TqdDLsOHp3c6TysVix5wVzLPTjtK648gnWK0">

            </a>
            
        </div>

        <!-- Top Menu Right-->
		<div class="nav-top">
			<ul class="nav navbar-right">
				<li class="hidden-xs">
					<a>
						<i class="fa fa-phone"></i>
						<span class="bigger-110 hidden-xs">+ 91 9271 920 690</span>
					</a>
				</li>
				<li class="hidden-xs">
					<a>
						<i class="fa fa-phone"></i>
						<span class="bigger-110 hidden-xs">+ 91 9511 655 951</span>
					</a>
				</li>
			</ul>
		</div>

	</div>
	
	<div class="top-menu collapse navbar-collapse  navbar-main-collapse">
		<div class="container">
			<div class="nav-top">
				<ul class="nav navbar-nav navbar-left">
					<li>
						<a ui-sref="home" ui-sref-active="active" href="/">Home</a>
					</li>
					<li>
						<a ui-sref="about" ui-sref-active="active" href="about.php">About Us</a>
					</li>
					
					<li>
						<a ui-sref="products" ui-sref-active="active" href="products.php" >Products</a>
					</li>
					<li>
						<a ui-sref="qanda" ui-sref-active="active" href="qanda.php">Q & A</a>
					</li>
					<li>
						<a ui-sref-active="active" href="media.php" >Media</a>
					</li>
			   		<li>
						<a ui-sref-active="active" href="career.php" >Careers</a>
					</li>
			
					<li>
						<a ui-sref="contact" ui-sref-active="active" href="contact.php">Contact Us</a>
					</li>
					<!--<li class="dropdown">
							<a href="about.php" class="dropdown-toggle" data-toggle="dropdown">
								About Us <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="team.php">Team</a></li>
								<li><a href="services.html">Carrers</a></li>
							</ul>					
						</li>
					-->	
					
				    
						
				</ul>

				
			</div>

		</div>

							
						
    </div>

</nav>
