<div class="mass-head inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						<h1>About Us <small>..</small></h1>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
						<ol class="breadcrumb">
							<li><a ui-sref="home" ui-sref-active="active">Home</a></li>
							
							<li ui-sref="about" ui-sref-active="active">About US</li>
							
						</ol>
					</div>
				</div>
			</div>
		</div>
		
			 <div class="headerWrapper">
    <div class="headerImage">
        
       
        <img width="1270" style = height:300px;  src="assets/images/Home-2-slider-2.jpg" class="img-responsive" >
        </div>
        </div>

		<!--CONTENT-->
		<div class="block-s2">
			<div class="container">
				<!--Company Porfile-->
				<div class="row block-s3">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<h3 class="no-margin-top">Welcome to Bright Solutions  </h3><br>
						<!-- <p>This is a great place to introduce your company or project and describe what you do. This about page features general company information, employee bios, and other helpful elements.</p> -->
						 

						 <p>
						 	<b>Bright Solutions</b> established in 2016 is a professional software development firm. We are a team of experienced professional with relevant industry experience. We are specialized in desktop applications and cater to small and mid-sized businesses.</p>
<p>
We are mainly specialized in POS software’s for Retail, Garment, Wholesaler and Distributor businesses. We provide complete business management solutions which help our clients to systematically operate and manage their business.</p>
<p>
We are also in the process of developing some useful solutions to small and mid-sized manufacturing companies which adds real value in achieving their business goals.
						 		<!-- We are an <B>software development</B> company.
						 		We provide business management software for retail, wholesale businesses. We also provide software for distributors and garment stores. 
						 		We are specialized in windows based offline desktop application.
						 		We have<b> more than 10 years of retail experience</b> and have used that experience to make our software more easy and convenient for our clients. 
						 		We provide on demand customization at very reasonable price.
						 		 -->	
						 	
						 			</p>

						<div class="space-12"></div>
						
						<!-- <div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<ul class="list-unstyled">
									<li><i class="fa fa-check text-primary bigger-110"></i> Lid est laborum dolo</li>
									<li><i class="fa fa-check text-primary bigger-110"></i> Lid est laborum dolo</li>
									<li><i class="fa fa-check text-primary bigger-110"></i> Lid est laborum dolo</li>
								</ul>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<ul class="list-unstyled padding-15">
									<li><i class="fa fa-check text-primary bigger-110"></i> Lid est laborum dolo</li>
									<li><i class="fa fa-check text-primary bigger-110"></i> Lid est laborum dolo</li>
									<li><i class="fa fa-check text-primary bigger-110"></i> Lid est laborum dolo</li>
								</ul>
							</div>
						</div>
						 -->
						<div class="space-12"></div>
						
					<!--	<p>The Brighters are experts in software, web design and development. We’re also just as focused as we are fun! We’re made up of web strategists, designers, developers,  and digital marketers.</p>
					-->	<!-- project managers, writers, analysts -->
						<div class="space-12 visible-xs"></div>
						
					</div>
					
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<!-- <div class="profile-pic"> href="team.php" -->
							<a  class="team" data-rel="team"><img src="assets/images/adults-analysis-banking-1451447.jpg" class="img-responsive" alt=""></a>
							<center><h3>Meet Our Team Members</h3></center>
							<!-- <div class="space-1"></div> -->
						</div>
					</div>
				</div>				
				<!--Company Porfile-->
		
			</div>
	<!--</div>-->
	


		<div class="block-s2 light">
			<div class="container">
				<center>
				    <div class="row">
					<img width="30px" src="assets/images/logo.png">
					<img width="200px" src="assets/images/logo_name.png">
					</div>
					<div>
					    <p style="font-size: 20px; padding: 10px;">“We had a phenomenal experience with development and providing service. Our company is responsive and adjust the schedule to cater deadline. Clients launched on time with a beautiful result. Thank You!”</p>
					</div>
				</center>
			     
		
	<!--	<div class="block-s2 light">
			<div class="container">
				<!-- Team Member Profiles -->
		<!--		<div class="row">					
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="profile-card">
							<img style="width: 100%" src="assets/images/user-1.jpg" />
							<div class="profile-card-details animate">
								<div class="profile-card-header">
									<h4>Johan Smith</h4>
									<span>aka not a real person</span>
								</div>
								<div class="profile-card-detail">
	-->								 <!-- Description  -->
		<!--							<p>What does this team member do? Keep it short! This is also a great spot for social links!</p>

									<ul class="social">
										<li>
											<a href="#facebook-profile" class="btn btn-facebook btn-sm tooltip-primary " data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#twitter-profile" class="btn btn-twitter btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#google-plus-profile" class="btn btn-googleplus btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus icon-only bigger-110"></i></a>
										</li>
									</ul>
						
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="profile-card">
							<img style="width: 100%" src="assets/images/user-2.jpg" />
							<div class="profile-card-details animate">
								<div class="profile-card-header">
									<h4>Johan Smith</h4>
									<span>aka not a real person</span>
								</div>
								<div class="profile-card-detail">
		-->							<!-- Description  -->
		<!--							<p>What does this team member do? Keep it short! This is also a great spot for social links!</p>

									<ul class="social">
										<li>
											<a href="#facebook-profile" class="btn btn-facebook btn-sm tooltip-primary " data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#twitter-profile" class="btn btn-twitter btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#google-plus-profile" class="btn btn-googleplus btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus icon-only bigger-110"></i></a>
										</li>
									</ul>
						
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="profile-card">
							<img style="width: 100%" src="assets/images/user-3.webp" />
							<div class="profile-card-details animate">
								<div class="profile-card-header">
									<h4>Johan Smith</h4>
									<span>aka not a real person</span>
								</div>
								<div class="profile-card-detail">
		-->						 <!-- Description  -->
							<!--		<p>What does this team member do? Keep it short! This is also a great spot for social links!</p>

									<ul class="social">
										<li>
											<a href="#facebook-profile" class="btn btn-facebook btn-sm tooltip-primary " data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#twitter-profile" class="btn btn-twitter btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#google-plus-profile" class="btn btn-googleplus btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus icon-only bigger-110"></i></a>
										</li>
									</ul>
						
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="profile-card">
							<img style="width: 100%" src="assets/images/user-4.webp" />
							<div class="profile-card-details animate">
								<div class="profile-card-header">
									<h4>Johan Smith</h4>
									<span>aka not a real person</span>
								</div>
								<div class="profile-card-detail">-->
								 <!-- Description -->
								<!--	<p>What does this team member do? Keep it short! This is also a great spot for social links!</p>

									<ul class="social">
										<li>
											<a href="#facebook-profile" class="btn btn-facebook btn-sm tooltip-primary " data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#twitter-profile" class="btn btn-twitter btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#google-plus-profile" class="btn btn-googleplus btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus icon-only bigger-110"></i></a>
										</li>
									</ul>
						
								</div>
							</div>
						</div>
					</div>
					
				</div>-->
				<!-- Team Member Profiles  -->
			</div>
		</div>
			
		