<div class="mass-head inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						<h1>Products <small>PoS</small></h1>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
						<ol class="breadcrumb">
							<li><a ui-sref="home" ui-sref-active="active">Home</a></li>
							
							<li ui-sref="products" ui-sref-active="active">Products</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="block-s2">
			<div class="container">
				<div >
					<p>Our retail point of sale software solutions are designed to address the challenges of small & independent aspirants, retailers and large multi-store retail chains. their sector specific orientation, built using latest technologies, assure retailers 'a visible improvement' in customer engagement, by helping them source the right product at right price at the right time.</p>
				</div>
				<!--Pricing Tables 1 -->
				<div class="row block-s3">
					
					<div class="col-lg-3 col-sm-6">
						<div class="pricing-table-1 ">
							<h3 class="plan-title" style="font-size:23px">Bright Wholesaler</h3>
							<span class="bigger-500" style="font-size:32px">RS.12000/-</span>
							<ul class="plan-features">
								
								<li> GST Ready </li>
								<li>Offline Application</li>
								<li>Userfriendly GUI</li>
								<li>Inventory Management</li>
								<li>Invoice Editing</li>
								<li>Analytics & Reports</li>
								<li>Auto Sales Generator</li>												
								<li>Dedicated Support & Services</li>
								<li><strong>Free</strong> Customization </li>
							</ul>
							<a ui-sref="wholesaler" class="btn btn-primary plan-button"><i class="fa fa-download"></i>Read More</a>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="pricing-table-1">
							<h3 class="plan-title" style="font-size:23px">Bright Distributor</h3>
							<span class="bigger-500" style="font-size:32px">RS.12000/-</span>
							<ul class="plan-features">
								
								<li> GST Ready </li>
								<li>Offline Application</li>
								<li>Userfriendly GUI</li>
								<li>Inventory Management</li>
								<li>Invoice Editing</li>
								<li>Analytics & Reports</li>
								<li>Auto Sales Generator</li>												
								<li>Dedicated Support & Services</li>
								<li><strong>Free</strong> Customization </li>
							</ul>
							<a ui-sref="distributor" class="btn btn-primary plan-button"><i class="fa fa-download"></i>Read More</a>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="pricing-table-1">
							<h3 class="plan-title" style="font-size:23px">Bright Garment PoS</h3>
							<span class="bigger-500" style="font-size:32px">RS.15000/-</span>
							<ul class="plan-features">
								
								<li> GST Ready </li>
								<li>Offline Application</li>
								<li>Userfriendly GUI</li>
								<li>Inventory Management</li>
								<li>Invoice Editing</li>
								<li>Analytics & Reports</li>
								<li>Auto Sales Generator</li>												
								<li>Dedicated Support & Services</li>
								<li><strong>Free</strong> Customization </li>
							</ul>
							<a ui-sref="garment" class="btn btn-primary plan-button"><i class="fa fa-download"></i>Read More</a>
							
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="pricing-table-1 bg-primary">
							<h3 class="plan-title" style="font-size:23px">Bright Retail PoS</h3>
							<span class="bigger-500" style="font-size:32px">RS.15000/-</span>
							
								<ul class="plan-features">
								
								<li> GST Ready </li>
								<li>Offline Application</li>
								<li>Userfriendly GUI</li>
								<li>Inventory Management</li>
								<li>Invoice Editing</li>
								<li>Analytics & Reports</li>
								<li>Auto Sales Generator</li>												
								<li>Dedicated Support & Services</li>
								<li><strong>Free</strong> Customization </li>
							</ul>
							
							<a ui-sref="retail" class="btn  plan-button"><i class="fa fa-download"></i>Read More</a>
						</div>
					</div>
				</div>
				
				<!--Pricing Tables 1-->
			</div>
		</div>