<div class="mass-head inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						<h1>Bright Retail PoS <small></small></h1>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
						<ol class="breadcrumb">
							<li><a ui-sref="home" ui-sref-active="active">Home</a></li>
							
							<li  ui-sref-active="active">Products</li>
							<li  ui-sref-active="active">Bright Retail PoS</li>
							
						</ol>
					</div>
				</div>
			</div>
		</div>
		
		 <div class="headerWrapper">
    <div class="headerImage">
        <img width="1270" style = height:350px ; class="img-responsive" src="assets/images/camera-coffee-composition-1509428.jpg"   >
        </div>
        </div>

		<div class="block-s2 light">
			<div class="container">
				<div class="tc-tabsbar center-tabs arrow lg no-margin-bottom">
					<ul class="nav nav-tabs white">
						<li class="active"><a href="#tab1" data-toggle="tab">Dashboard</a></li>
						<li><a href="#tab2" data-toggle="tab">Sales</a></li>
						<!--<li><a href="#tab3" data-toggle="tab">Purchase</a></li>-->
						<li><a href="#tab4" data-toggle="tab">Products</a></li>
						<li><a href="#tab5" data-toggle="tab">Billing</a></li>
						<li><a href="#tab6" data-toggle="tab">Reports</a></li>
						<li><a href="#tab7" data-toggle="tab">Analytics</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
						
							<div class="row block-s3 no-padding-bottom">
								<div class="col-md-4">
						    		<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Statistics for Sales</h3>
								
								        <p>Total numbers of Invoice created,
									Total Invoice Amount, Credit Amount and Cash Sale.</p>
									</div>
								</div>

								<div class="col-md-4">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Statistics for Purchase</h3>
									<p>	Total numbers of Invoice created,
									Total Invoice Amount, Credit Amount and Cash Sale.</p>
									</div>
								</div>

								<div class="col-md-4">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Others</h3>
										<p>Weekly Sales Chart, Online balance, Bank balance, and more.<br>
										                        </p>
									</div>
								</div>
							</div>
							
						</div>
						<div class="tab-pane" id="tab2">
						
							<div class="row block-s3 no-padding-bottom">
								<div class="col-md-4">
						    		<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Easy Billing</h3>
										<p>Bright Software makes easy Billing for you with userfriendly interface including many features which helps you to save your time and much more.</p>
									</div>
								</div>

								<div class="col-md-4">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Multiple(MRP and Barcode)</h3>
										<p>This is special feature  to create multiple mrp and multiple barcode for a particular product.</p>
									</div>
								</div>

								<div class="col-md-4">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Stock Limit</h3>
										<p>Stock limit can be set statically from minimum to maximum numbers of product to manage your inventory.</p>
									</div>
								</div>
								
							</div>
							
						</div>
						<!--<div class="tab-pane" id="tab3">
							<div class="row block-s3 no-padding-bottom">
								<div class="col-md-4">
						    		<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Dise単o Web</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>

								<div class="col-md-4">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Desarrollo Web</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>

								<div class="col-md-4">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Alojamiento Web</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
							</div>
							
						</div>-->
						<div class="tab-pane" id="tab4">
							<div class="row block-s3 no-padding-bottom">
								<div class="col-md-3">
						    		<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Name and account</h3>
										<p>U get the option of add Display Name and Discription of product which will help to find it in your own way.</p>
									</div>
								</div>

								<div class="col-md-3">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Catagory and Type</h3>
										<p>This options helps to set the catagory and the type of product which help you to sort out from other products.</p>
									</div>
								</div>

								<div class="col-md-3">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Stock Limit</h3>
										<p>Stock limit can be set statically from minimum to maximum numbers of product to manage your inventory.</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Multiple(MRP and Barcode)</h3>
										<p>This is special feature  to create multiple mrp and multiple barcode for a particular product.</p>
									</div>
								</div>
							</div>
							
						</div>
						
						<div class="tab-pane" id="tab5">
							<div class="row block-s3 no-padding-bottom">
								<div class="col-md-3">
						    		<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Customer's Information</h3>
										<p>With Billing You can add Customers Information which will help to ro recognize them and to maintain good relation.</p>
									</div>
								</div>

								<div class="col-md-3">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Payment</h3>
										<p>In payment you also get option to payment mode to cash as well as online and paying or pending.You can get the notification for pending payment.</p>
									</div>
								</div>

								<div class="col-md-3">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Hold Invoice</h3>
										<p>You can hold the invoice and also can pick up from the help box.Also you can hold multiple invoices as well.</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Send Sms</h3>
										<p>Except all this,you can send sms invoice to user .</p>
									</div>
								</div>
							</div>
							
						</div>
						
						<div class="tab-pane" id="tab6">
							<div class="row block-s3 no-padding-bottom">
								<div class="col-md-3">
						    		<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Sales Report</h3>
										<p>How much sales done can be find in this Option.Also get the option to check the sales by catagorising a particular product,by Customer and also by date.</p>
									</div>
								</div>

								<div class="col-md-3">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Purchase Report</h3>
										<p>Also Purchase report found in this option.You can check how much and what product you purchased from merchant.Also you get the option to catagorise. </p>
									</div>
								</div>

								<div class="col-md-3">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>GST Report</h3>
										<p>GST Committee Report on Returns. ... The Government of India intends to introduce the Goods and Services Tax (GST) in the country at the earliest..</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Accounts Report</h3>
										<p>This is special feature to create multiple mrp and multiple barcode for a particular product.</p>
									</div>
								</div>
							</div>
							
						</div>
						
							<div class="tab-pane" id="tab7">
							<div class="row block-s3 no-padding-bottom">
								<div class="col-md-4">
						    		<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Sales Analysis</h3>
										<p>How much sales done can be find in this Option. Also get the option to check the sales by catagorising a particular product,by Customer and also by date.</p>
									</div>
								</div>

								<div class="col-md-4">
									<div class="tc-box s2">
										<div class="icon-box">
											<i class="fa fa-star"></i>
										</div>
										
										<h3>Purchase Analysis</h3>
										<p>Also Purchase report found in this option.You can check how much and what product you purchased from merchant.Also you get the option to catagorise. </p>
									</div>
								</div>

							</div>
							
						</div>
					
						
					
					</div>
				</div>			
		
			</div>
		</div>
	