<div class="mass-head inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						<h1>Bright Wholesaler <small></small></h1>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
						<ol class="breadcrumb">
							<li><a ui-sref="home" ui-sref-active="active">Home</a></li>
							
							<li><a ui-sref="products" ui-sref-active="active">Products</a></li>
							<li ui-sref="wholesaler" ui-sref-active="active">Bright Wholesaler</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		
<div class="block-s2">
      <div class="container">
        <div class="tc-box">
          <!--<p >Every person needs ways to run their business hassle free i.e. transaction should be maintained properly, get comparison of sales years, important alerts. Bright POS Software is designed to handle all needs of individual shops or retail chain in an accurate way as it is easily configurable according to the requirements of the customers as per their business type. In Bright POS 
  Software, transactions & inventories can be easily maintained; it will show alerts for the items 
  getting out of stock or for the items whose expiry date is near. Bright POS software controls inventory 
  in a much easier way by the help of cash registers as well as helps in better controlling of business due to its unique reporting features.</p>-->
  
  <p>Wholesalers requires careful maintenance of day to day operations to remain at peak performance. They need to complete the orders timely. After GST implementation it has become difficult to identify and store the goods as per their tax brackets without affecting the work speed and issuing GST invoices. Here our system <b>”Bright Wholesaler”</b> come into play which helps you in doing all the activities in a smoother manner.  </p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12">
            <h2>Features</h2>     
          <div class="panel-group tc-accordion no-border" id="accordion2"><!-- Accordion style 2-->
            <div class="panel panel-default">
              <div class="panel-heading accordion-active">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                  <h5 class="panel-title">
                    Billing Features<span class="pull-right"><i class="fa fa-angle-down bigger-110"></i></span>
                  </h5>
                </a>
              </div>
              <div id="collapseFour" class="panel-collapse collapse in">
                <div class="panel-body">
                  <ul>
                      <li>Multi MRP, Multi Rate, Quantity Wise Pricing, &amp;</li> 
                      <li> Discount, Product wise Discount </li>
                      <li>Payment Methods - Cash / Credit / Bank / Online  </li>
                      <li>Invoice Editing</li>
                      <li>Client Wise Rate</li>
                      <li>Indication for Loss, Min, Max, New / Old Rate</li>
                      <li>Negative Stock Billing Facility </li>
                      <li>Self-Designed Price List (Set Formula in Price List)</li>
                      <li>Pick & Hold Invoice</li>
                      <li>Bill Import / Export </li>
                      <li>View O/s Stock, Purchase Returns, Receipt Payment Bill Modification at the Time of Billing</li>
                      <li>Counter Sale Entry Provision</li>
                      <li>Party History Dashboard on Party Selection</li>
                     </ul> 
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading ">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
                  <h5 class="panel-title">
                    General Features<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
                  </h5>
                </a>
              </div>
              <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                                          <li>Single User &amp; Multi User</li>
                                          <li>Data Security &amp; Accuracy</li>
                                          <li>Tried &amp; Tested</li>
                                          <li>Supplier, Customers &amp; Personal Directory </li>
                                          <li>Any Report Printing from Anywhere</li>
                                        </ul> 
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading ">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
                  <h5 class="panel-title">
                    Inventory Management<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
                  </h5>
                </a>
              </div>
              <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                                          <li>All Books of Inventory </li>
                                          <li>Brand, Group &amp; Category Wise Inventory</li>
                                          <li>Multiple Prices Lists of Items </li>
                                        </ul>  
                </div>
              </div>
            </div>
          </div><!-- Accordion style 2--> 
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12"></div>
        </div>
        
        

      </div>
</div>      